#<h1 align = 'center'>TEAM ID:  PTID-CDS-JAN-24-1772
<h1 align= 'center'>PROJECT ID: PRCP-1024-TexasSalaryPred

### **PROBLEM STATEMENT**

Task 1:-Prepare a complete data analysis report on the given data.

Task 2:-Create a predictive model which will help the Texas state government team to know the payroll information of employees of the state of Texas.

Task 3:- 
<ul type= 'disc'>
<li>Who are the outliers in the salaries?</li>
<li>What departments/roles have the biggest wage disparities between managers and employees?</li>
<li>Have salaries and total compensations for some roles/ departments/ head-count changed over time</li>
</ul>

### **IMPORTING THE BASIC LIBRARIES**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

### **IMPORTING THE DATASET**

In [3]:
pd.set_option('display.max_columns', None)
data = pd.read_csv("salary.csv")
data.head()

,AGENCY,AGENCY NAME,LAST NAME,FIRST NAME,MI,CLASS CODE,CLASS TITLE,ETHNICITY,GENDER,STATUS,EMPLOY DATE,HRLY RATE,HRS PER WK,MONTHLY,ANNUAL,STATE NUMBER,duplicated,multiple_full_time_jobs,combined_multiple_jobs,summed_annual_salary,hide_from_search
0,241,"COMPTROLLER OF PUBLIC ACCOUNTS, JUDICIARY SECT...",RUCKER,MORTON,V,JD25,"JUDGE, RETIRED ...",WHITE,MALE,URP - UNCLASSIFIED REGULAR PART-TIME,02/18/88,75.96150,29.0,9545.82,114549.84,127717,True,NaN,NaN,131407.08,NaN
1,212,OFFICE OF COURT ADMINISTRATION ...,RUCKER,MORTON,V,3524,GENERAL COUNSEL IV ...,WHITE,MALE,CTP - CLASSIFIED TEMPORARY PART-TIME,02/01/15,81.04454,4.0,1404.77,16857.24,127717,True,NaN,NaN,NaN,True
2,241,"COMPTROLLER OF PUBLIC ACCOUNTS, JUDICIARY SECT...",SPECIA JR,JOHN,J,JD25,"JUDGE, RETIRED ...",WHITE,MALE,URP - UNCLASSIFIED REGULAR PART-TIME,02/01/20,75.96150,29.0,9545.82,114549.84,59115,True,NaN,NaN,131407.08,NaN
3,212,OFFICE OF COURT ADMINISTRATION ...,SPECIA JR,JOHN,J,3524,GENERAL COUNSEL IV ...,WHITE,MALE,CTP - CLASSIFIED TEMPORARY PART-TIME,09/01/18,81.04453,4.0,1404.77,16857.24,59115,True,NaN,NaN,NaN,True
4,696,TEXAS DEPARTMENT OF CRIMINAL JUSTICE ...,ONTIVEROS,ESTHER,,4504,CORREC OFFICER IV ...,HISPANIC,FEMALE,CRF - CLASSIFIED REGULAR FULL-TIME,06/29/20,0.00000,40.0,3284.27,39411.24,165030,True,1.0,NaN,NaN,NaN

### **DOMAIN ANALYSIS:**

- This dataset provides the salary information for positions at all 113 agencies in the Texas state government. The tribune obtained this data by requesting salary records from the state comptroller, as allowed by the Texas Public Information Act.
- The target variable is the 'ANNUAL' since salary of the employees will be predicted and the factors affecting the 'ANNUAL' are taken as the independent features (20 columns) such as follows:

##### **Independent features**:
<ul type= 'square'>
<li>AGENCY- The code of the agency where the employee works.</li>
<li>AGENCY NAME- The full name of the agency where the employee works.</li>
<li>LAST NAME- The last name of the employee which represents the family name in the culture of many societies.</li>
<li>FIRST NAME- The first name of the employee which is typically the birth name that is used before the family name.</li>
<li>MI (Middle Initial)- The middle initial of the employee.</li>
<li>CLASS CODE- The code or identifier of the job classification.</li>
<li>CLASS TITLE- The title/ designation of the job classification or class.</li>
<li>ETHNICITY- The ethnic background of the employee (the group in which the employee shares the common cultural background).</li>
<li>GENDER- the gender of the employee(denotes a range of identities an individual relates with).
<li>STATUS- The employment status of the employee (e.g., full-time, part-time, temporary).
<li>EMPLOY DATE- The date when the employee was hired.
<li>HRLY RATE- The rate of pay per hour for the employee.
<li>HRS PER WK- The number of hours worked per week by the employee.
<li>MONTHLY- (Monthly income)- The monthly income earned by the employee.
<li>STATE NUMBER- The state identification number or code associated with the employee.
<li>duplicated- Indicates whether the record is duplicated.
<li>multiple_full_time_jobs- Indicates if the employee holds multiple full-time jobs
<li>combined_multiple_jobs- Indicates if the employee's income is combined from multiple jobs.
<li>summed_annual_salary- Total annual salary earned by the employee, considering multiple jobs or income sources.</li>
<li>hide_from_search- A flag indicating whether the record should be hidden from search queries or not.</li></ul>

- The target variable **'ANNUAL'** is supposed to be predicted as it is **the annual income earned by the employee**.

### **BASIC CHECKS:**

In [8]:
# viewing dimension of the data

x= data.shape
print(x)
print(f'rows: {x[0]}\ncolumns: {x[1]}')

(149481, 21)
rows: 149481
columns: 21

In [9]:
# first five rows

data.head()

,AGENCY,AGENCY NAME,LAST NAME,FIRST NAME,MI,CLASS CODE,CLASS TITLE,ETHNICITY,GENDER,STATUS,EMPLOY DATE,HRLY RATE,HRS PER WK,MONTHLY,ANNUAL,STATE NUMBER,duplicated,multiple_full_time_jobs,combined_multiple_jobs,summed_annual_salary,hide_from_search
0,241,"COMPTROLLER OF PUBLIC ACCOUNTS, JUDICIARY SECT...",RUCKER,MORTON,V,JD25,"JUDGE, RETIRED ...",WHITE,MALE,URP - UNCLASSIFIED REGULAR PART-TIME,02/18/88,75.96150,29.0,9545.82,114549.84,127717,True,NaN,NaN,131407.08,NaN
1,212,OFFICE OF COURT ADMINISTRATION ...,RUCKER,MORTON,V,3524,GENERAL COUNSEL IV ...,WHITE,MALE,CTP - CLASSIFIED TEMPORARY PART-TIME,02/01/15,81.04454,4.0,1404.77,16857.24,127717,True,NaN,NaN,NaN,True
2,241,"COMPTROLLER OF PUBLIC ACCOUNTS, JUDICIARY SECT...",SPECIA JR,JOHN,J,JD25,"JUDGE, RETIRED ...",WHITE,MALE,URP - UNCLASSIFIED REGULAR PART-TIME,02/01/20,75.96150,29.0,9545.82,114549.84,59115,True,NaN,NaN,131407.08,NaN
3,212,OFFICE OF COURT ADMINISTRATION ...,SPECIA JR,JOHN,J,3524,GENERAL COUNSEL IV ...,WHITE,MALE,CTP - CLASSIFIED TEMPORARY PART-TIME,09/01/18,81.04453,4.0,1404.77,16857.24,59115,True,NaN,NaN,NaN,True
4,696,TEXAS DEPARTMENT OF CRIMINAL JUSTICE ...,ONTIVEROS,ESTHER,,4504,CORREC OFFICER IV ...,HISPANIC,FEMALE,CRF - CLASSIFIED REGULAR FULL-TIME,06/29/20,0.00000,40.0,3284.27,39411.24,165030,True,1.0,NaN,NaN,NaN

In [10]:
# last five records

data.tail()

,AGENCY,AGENCY NAME,LAST NAME,FIRST NAME,MI,CLASS CODE,CLASS TITLE,ETHNICITY,GENDER,STATUS,EMPLOY DATE,HRLY RATE,HRS PER WK,MONTHLY,ANNUAL,STATE NUMBER,duplicated,multiple_full_time_jobs,combined_multiple_jobs,summed_annual_salary,hide_from_search
149476,809,STATE PRESERVATION BOARD ...,WESSELS,JOHN,P,6232,SECURITY OFFICER III ...,WHITE,MALE,CRF - CLASSIFIED REGULAR FULL-TIME,10/30/17,0.00,40.0,2899.00,34788.00,770781,NaN,NaN,NaN,NaN,NaN
149477,809,STATE PRESERVATION BOARD ...,WINDHAM,EVAN,A,0302,WEB ADMINISTRATOR III ...,WHITE,FEMALE,CRF - CLASSIFIED REGULAR FULL-TIME,07/13/15,0.00,40.0,5500.00,66000.00,847431,NaN,NaN,NaN,NaN,NaN
149478,809,STATE PRESERVATION BOARD ...,WRIGHT,DERRICK,C,0130,CUSTOMER SERVICE REP I ...,WHITE,MALE,CRP - CLASSIFIED REGULAR PART-TIME,10/15/12,12.93,20.0,1120.60,13447.20,34266,NaN,NaN,NaN,NaN,NaN
149479,809,STATE PRESERVATION BOARD ...,YOUNG,DOUGLAS,R,1572,PROGRAM SPECIALIST III ...,WHITE,MALE,CRF - CLASSIFIED REGULAR FULL-TIME,09/22/89,0.00,40.0,5744.16,68929.92,123490,NaN,NaN,NaN,NaN,NaN
149480,809,STATE PRESERVATION BOARD ...,ZUNKER,GEORGIA,P,0130,CUSTOMER SERVICE REP I ...,WHITE,FEMALE,CRP - CLASSIFIED REGULAR PART-TIME,02/16/12,11.74,20.0,1017.46,12209.52,103583,NaN,NaN,NaN,NaN,NaN

In [11]:
# column names

data.columns

Index(['AGENCY', 'AGENCY NAME', 'LAST NAME', 'FIRST NAME', 'MI', 'CLASS CODE',
       'CLASS TITLE', 'ETHNICITY', 'GENDER', 'STATUS', 'EMPLOY DATE',
       'HRLY RATE', 'HRS PER WK', 'MONTHLY', 'ANNUAL', 'STATE NUMBER',
       'duplicated', 'multiple_full_time_jobs', 'combined_multiple_jobs',
       'summed_annual_salary', 'hide_from_search'],
      dtype='object')

In [12]:
# showing datatypes

data.dtypes

AGENCY                       int64
AGENCY NAME                 object
LAST NAME                   object
FIRST NAME                  object
MI                          object
CLASS CODE                  object
CLASS TITLE                 object
ETHNICITY                   object
GENDER                      object
STATUS                      object
EMPLOY DATE                 object
HRLY RATE                  float64
HRS PER WK                 float64
MONTHLY                    float64
ANNUAL                     float64
STATE NUMBER                 int64
duplicated                  object
multiple_full_time_jobs    float64
combined_multiple_jobs      object
summed_annual_salary       float64
hide_from_search            object
dtype: object

#### Insights:
All the columns show different datatypes of int64, float64 and object type.
<dl>
<dt>-int64</dt> 
<dd>AGENCY, STATE NUMBER</dd>
<dt>-float64</dt>
<dd>HRLY RATE, HRS PER WK, MONTHLY, ANNUAL, multiple_full_time_jobs, summed_annual_salary</dd>
<dt>-object</dt>
<dd>AGENCY NAME, LAST NAME, FIRST NAME, MI, CLASS CODE, CLASS TITLE, ETHNICITY, GENDER, STATUS, EMPLOY DATE, duplicated, combined_multiple_jobs, hide_from_search</dd>

In [13]:
# Basic information about the features

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149481 entries, 0 to 149480
Data columns (total 21 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   AGENCY                   149481 non-null  int64
 1   AGENCY NAME              149481 non-null  object
 2   LAST NAME                149481 non-null  object
 3   FIRST NAME               149481 non-null  object
 4   MI                       149481 non-null  object
 5   CLASS CODE               149481 non-null  object
 6   CLASS TITLE              149481 non-null  object
 7   ETHNICITY                149481 non-null  object
 8   GENDER                   149481 non-null  object
 9   STATUS                   149481 non-null  object
 10  EMPLOY DATE              149481 non-null  object
 11  HRLY RATE                149481 non-null  float64
 12  HRS PER WK               149481 non-null  float64
 13  MONTHLY                  149481 non-null  float64
 14  ANNUAL                   149481 non-null  float64
 15  STATE NUMBER             149481 non-null  int64
 16  duplicated               143 non-null     object
 17  multiple_full_time_jobs  14 non-null      float64
 18  combined_multiple_jobs   97 non-null      object
 19  summed_annual_salary     16 non-null      float64
 20  hide_from_search         16 non-null      object
dtypes: float64(6), int64(2), object(13)
memory usage: 23.9+ MB

##### Insights:
- Most of the columns do not have null values except features such as duplicated, multiple_full_time_jobs, combined_multiple_jobs, summed_annual salary and hide_from_search.
- However, these columns could not contribute much to the model due to sparsity of data. Besides that, handling this much large proportion of missing values might posess the risk of introducing bias into the model.  Hence columns with null values could be dropped for predictive modeling.

In [14]:
# Statistical information

data.describe().T.sort_values('std', ascending = False)\
.style.background_gradient(cmap='magma')

#### Insights:
- All the numerical features except summed_annual_salary and multiple_full_time_jobs have 1,49,481 records with no null values.
- **summed_annual_salary** and **multiple_full_time_jobs** have large proportion of null values with non-null values of only around 16 and 14 respectively.
- The standard deviation of **multiple_full_time_jobs** is 0. Hence this feature needs to be dropped.
- The average value of **STATE NUMBER** is around 5,65,200 ranging from minimum of 1 to maximum of 1271604.
- The **ANNUAL** has mean value of 50714 with a minimum value of 600 and maximum of 553500. The standard deviation is around 25000.
- The **MONTHLY** feature has more relationship with the annual income. So it is proportionate to the feature "ANNUAL".
- The feature **AGENCY** shows the average value of 545 with a minimum of 101 to a maximum of 930.
- The average **HRLY RATE** is around 0.346 with a minimum of 0 and a maximum of 117.
- The mean **HRS PER WK** is around 39.71. The minimum hour is 1 and the maximum is 70 per week.

In [21]:
data.describe(include='O').T.style.background_gradient(cmap='Oranges')

#### Insights:
- The categorical/ discrete features except duplicated, combined_multiple_jobs and hide_from_search have 1,49,481 records with no null values.
- **duplicated**, **combined_multiple_jobs** and **hide_from_search** have large proportion of null values with non-null values of only around 143, 97 and 16 respectively in boolean type.
- The **AGENCY NAME** has a total of 113 unique agencies with the top being "HEALTH AND HUMAN SERVICES COMMISSION" with around 36000 occurences. Hence, around 24% of employees work under this agency.
- The **LAST NAME**, **FIRST NAME** and **MI** have string values and the feature **MI** has around 38,408 missing values(empty strings) for the middle initial. 
- The **CLASS TITLE** feature has around 1,422 unique class titles in the dataset and the most common class title is "CORREC OFFICER IV" with 9,267 occurrences.
- There are 6 unique ethnicity categories witht the majority **ethnicity** being "**WHITE**" with 67,142 occurrences( around 44%).
- Two unique **gender** categories with "**FEMALE**" dominating around 57%.
- There are 11 unique **status** categories in the dataset. The most common status is "**CRF - CLASSIFIED REGULAR FULL-TIME**" with 142,502 occurrences which consitute around **95%** of status categories.
- There are 6,295 unique employment dates and the **date "09/01/17"** appears most frequently with 12,359 occurrences.